@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-item" asp-area="Identity" asp-page="/Account/Manage/Index">Witaj @User.Identity?.Name!</a>
    <div class="navbar-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Wyloguj</button>
        </form>
    </div>
}
else
{
    <a class="navbar-item" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
    <a class="navbar-item" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
}
