@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container">
    <h1 class="title is-3 mb-5">Zmiana hasła</h1>
    
    @if (!string.IsNullOrEmpty(Model.StatusMessage))
    {
        <div class="notification is-success is-light mb-5">
            <button class="delete"></button>
            @Model.StatusMessage
        </div>
    }

    <div class="columns">
        <div class="column">
            <div class="box">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="notification is-danger" role="alert"></div>

                    <div class="field">
                        <label asp-for="Input.OldPassword" class="label">Obecne hasło</label>
                        <div class="control has-icons-left">
                            <input asp-for="Input.OldPassword" class="input" type="password" autocomplete="current-password" aria-required="true" placeholder="Obecne hasło" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.OldPassword" class="help is-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Input.NewPassword" class="label">Nowe hasło</label>
                        <div class="control has-icons-left">
                            <input asp-for="Input.NewPassword" class="input" type="password" autocomplete="new-password" aria-required="true" placeholder="Nowe hasło" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.NewPassword" class="help is-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Input.ConfirmPassword" class="label">Potwierdź nowe hasło</label>
                        <div class="control has-icons-left">
                            <input asp-for="Input.ConfirmPassword" class="input" type="password" autocomplete="new-password" aria-required="true" placeholder="Potwierdź nowe hasło" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="help is-danger"></span>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-medium">Zaktualizuj hasło</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
